<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Navbar</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="'dataBinding'">Data-Binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="directiveNgIfNgFor">Structural-Directive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="attributeDirective">Attribute-Directive</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success text-white" type="submit">Search</button>
        </form>
    </div>
</nav>

<router-outlet />