<h1>Directive-ngIf-and-ngFor works!</h1>
<h3 class="text-primary">Using ngIf Directive</h3>
<div class="row">
    <div class="col-3">
        <div class="bg-success p-3" *ngIf="divVisible">
            Div 1
        </div>
    </div>
    <div class="col-3">
        <div class="bg-primary p-3" *ngIf="number1==number2">
            Div 2
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-3">
        <button class="btn btn-danger mx-2" (click)="hideDiv()">Hide</button>
        <button class="btn btn-primary" (click)="showDiv()">Show</button>
    </div>
    <div class="col-3">
        <input type="text" placeholder="Show Div Enter the same value" [(ngModel)]="number1">
        <input type="text" placeholder="Show Div Enter the same value" [(ngModel)]="number2">
    </div>
</div>

<h3 class="text-primary pt-3">Using ngFor Directive</h3>
<div class="row">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>
    <div class="col-8">
        <button class="btn btn-info mx-1" *ngFor="let city of cityList" [value]="city">
            {{city}}
        </button>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Department</th>
                    <th>Skills</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employeesList; let srno = index">
                    <td>{{srno}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.age}}</td>
                    <td>{{emp.department}}</td>
                    <td>{{emp.skills}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <select>
            <option *ngFor="let emp of employeesList" [value]="emp.id">
                {{emp.name}} - {{emp.department}}
            </option>
        </select>
    </div>
</div>
<!-- First import NgSwitch,NgSwitchCase,NgSwitchDefault -->
<div [ngSwitch]="myValue">
    <p *ngSwitchCase="1">One</p>
    <p *ngSwitchDefault>Other</p>
</div>